
#name{
    display: inline-block;
    margin: 0;
    padding:0;
  }
  #icon{
    margin-left: 5px;
    position: absolute;
    display: inline-block;
    color: rgb(255, 208, 80);
    width: 11px;
    padding: 0;
  }
 