<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar id="searchbar" debounce="500" mode=ios style="color: black !important; width: 80vw; margin: 0 auto; margin-top:5%;" align-center placeholder="search">
    </ion-searchbar>
  </ion-toolbar>
 </ion-header>

<ion-content>
<ion-list>
  <ion-item routerLink="/account" routerDirection="forward">
    <ion-icon slot="end" name="person"></ion-icon>
    <ion-label>Account</ion-label>
  </ion-item>
  <ion-item  routerLink="/addresses" routerDirection="forward">
    <ion-icon slot="end" name="location"></ion-icon>
    <ion-label>Adresses</ion-label>
  </ion-item>
  <ion-item  routerLink="/starcard" routerDirection="forward">
    <ion-icon slot="end" name="card"></ion-icon>
    <ion-label>STAR CARD</ion-label>
  </ion-item>
  <ion-item  routerLink="/payment" routerDirection="forward">
    <ion-icon slot="end" name="wallet-outline" ></ion-icon>
    <ion-label>Payment Method</ion-label>
  </ion-item>
  <ion-item routerLink="/historic" routerDirection="forward">
    <ion-icon slot="end" name="list"></ion-icon>
    <ion-label>Browsing Historic</ion-label>
  </ion-item>
  <ion-item routerLink="/liked" routerDirection="forward">
    <ion-icon slot="end" name="heart"></ion-icon>
    <ion-label>Liked</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="end" name="receipt"></ion-icon>
    <ion-label>Receipt Orders</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="end" name="alert"></ion-icon>
    <ion-label>Privacy</ion-label>
  </ion-item>
  <ion-item routerLink="/settings" routeDirection="forward">
    <ion-icon slot="end" name="settings" ></ion-icon>
    <ion-label>Management</ion-label>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home"  routerDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div class="touch">
        <h4>Home</h4>
       </div>  
    </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div class="touch">
          <h4>Cart</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil"  routerDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div class="touch">
          <h4>Profil</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div class="touch">
          <h4>Order...</h4>
         </div> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
