<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar id="searchbar" debounce="500" mode=ios style="color: black !important; width: 80vw; margin: 0 auto; margin-top:5%;" align-center placeholder="search">
    </ion-searchbar>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <div class="container">
    <ion-item><h3><ion-icon name="list" size="large">
    </ion-icon>Browsing Historic</h3>
  </ion-item>
  
    <ion-grid>
      <ion-row>
  
        
        <ion-col size="6" *ngFor="let item of browsing">
            <ion-card-content style="padding-bottom: 0;">
              <ion-img style="box-sizing:border-box;" [src]="item.ref"></ion-img>
            </ion-card-content>
            <ion-card-header>
              <ion-text color="dark">
                <h6  style="font-size: 13px; font-weight: bold;">{{item.description}}</h6>
              </ion-text>
              <ion-card-subtitle >{{item.name}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-title>
              <ion-item>
                <ion-label color="dark">
                  {{item.features[0].price}}
                </ion-label>
                  <ion-icon size="small" color="danger" slot="end" name="heart-outline"></ion-icon>
              </ion-item>
            </ion-card-title>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home"  routerDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div class="touch">
        <h4>Home</h4>
       </div>  
    </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div class="touch">
          <h4>Cart</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil"  routerDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div class="touch">
          <h4>Profil</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div class="touch">
          <h4>Order...</h4>
         </div> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>