<ion-header>
  <ion-toolbar>
    <ion-title> PAYMENT CONFIGURATION </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="modalDismiss()" color="primary">Close</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="method=='MonCash$'">
    <ion-item *ngIf="method=='MonCash$' && more== false ">
      <ion-thumbnail slot="start">
        <ion-img src="assets/images/moncash.png"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h4>Notice :</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, odit? 
          fuga nihil sit doloribus assumenda, non accusamus.</p>
          <ion-text color="primary">
          <h6 ion-button (click)="seeMore()">Read More</h6>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="method=='MonCash$' && more== true ">
      <ion-thumbnail slot="start">
        <ion-img src="assets/images/moncash.png"></ion-img>
      </ion-thumbnail>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, odit? 
          fuga nihil sit doloribus assumenda, non accusamus.</p>
          <ion-text color="primary">
          <h6 ion-button (click)="seeLess()">Read less</h6>
        </ion-text>
    </ion-item>
   <ion-card class="ion-padding">
     <form [formGroup]="moncashForm">
     <ion-item>
       <ion-label position="stacked">Owner Name</ion-label>
       <ion-input formControlName="ownername" inputmode="text" placeholder="Enter your MonCash Account owner name..."></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="stacked">Number Phone</ion-label>
      <ion-input formControlName="moncashnumber" [disabled]="checked()" [value]="inputvalue" inputmode="tel" placeholder="Your MonCash Phone Number..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="ownnumber" (click)="checked()" inputmode="checkbox"></ion-checkbox>
      <ion-label>Use my account phone number?</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="validation()" [disabled]="!moncashForm.valid" color="warning">Use as Default</ion-button>
    </ion-item>
  </form>
   </ion-card>

   <ion-item-group>
    <ion-item>
      <ion-icon name="alert" slot="start"></ion-icon>
      <h4>Legal Engagement</h4>
     </ion-item>
     <ion-item>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, pariatur repellat numquam inventore nemo ab magni doloremque quasi laborum tempore dolorum quis dolores molestias veniam facere incidunt quisquam dolore accusantium?</p>
     </ion-item>
   </ion-item-group>
  </div>
</ion-content>
