div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    transition: 0.5s ease-in-out;
}

.img-loaded + ion-spinner{
  display: none;
}

/* This will NOT work on its own */
.select-interface-option {
  color: red;
}

/*
 * "my-custom-interface" needs to be passed in through
 * the cssClass of the interface options for this to work
 */
.my-custom-interface .select-interface-option {
  --color: red;
}

#color{
  margin-top: 10px;
  width: 100%;
}
.dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgb(40, 29, 53);
  }
  .circle{
    display: inline-block;
    margin-bottom: 20px;
  }
  .circle h5{
    font-size: 14px;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -1px;
    text-indent: 0px;
    padding: 0;
    margin:0;
  }