<ion-header>
  <ion-toolbar>
    <ion-title> ADD PRODUCT </ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
      <ion-button (click)="modalDismiss()" color="primary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="add_container">

    
    <ion-item-divider color="tertiary">
      <ion-label small="large">Product Informations</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Product Name *</ion-label>
      <ion-input  inputmode="text" [(ngModel)]="newProduct.name"  placeholder="Enter the name of this product...">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!product">
      <ion-label  position="stacked">Description *</ion-label>
      <ion-input  [(ngModel)]="newProduct.description"   inputmode="text" placeholder="Short description..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Brand</ion-label>
      <ion-input [(ngModel)]="newProduct.brand"   inputmode="text" placeholder="Manufacturer or brand name..."></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Category *</ion-label>
      <ion-select (ionChange)="onCategoryChange()" [(ngModel)]="categorySelector">
        <ion-select-option  *ngFor="let cat of categories$|async" [value]="cat">{{cat.categoryName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="newProduct.category">
      <ion-label>Sub-category</ion-label>
      <ion-select  [(ngModel)]="newProduct.subcategory">
        <ion-select-option *ngFor="let cat of subcategories" [value]="cat">{{cat}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Shipment</ion-label>
      <ion-input [(ngModel)]="newProduct.shipment"  inputmode="text" placeholder="Product departure point" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Delivery Date *</ion-label>
      <ion-datetime inputmode="date" [(ngModel)]="newProduct.deliveryDate" placeholder="MM/DD/YYYY" displayFormat="MM/DD/YYYY" min="1994-03-14"
      max="2023-12-09"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!isfeatures">
      <ion-label>Quantity</ion-label>
      <ion-buttons class="margin-right">
        <div class="qty-selector">
          <ion-button  fill="clear" (click)="adjustqty('minus')">-</ion-button>
          <ion-label>{{oneSetting.inputQty}}</ion-label>
          <ion-button fill="clear" (click)="adjustqty('plus')">+</ion-button>
        </div>
      </ion-buttons>
    </ion-item>
    <ion-item *ngIf="!isfeatures">
      <ion-label>Availability *</ion-label>
      <ion-select [(ngModel)]="oneSetting.inputAv">
        <ion-select-option  *ngFor="let available of availibility" [value]="available">{{available}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!isfeatures">
      <ion-label>Product price</ion-label>
      <input type="number"  [(ngModel)]="oneSetting.inputPrice"/>
    </ion-item>
  
    <ion-item-divider color="tertiary">
      <ion-label small="large">Images and Features</ion-label>
    </ion-item-divider>

    <ion-item-group  *ngIf="!product">
      <ion-item>
        <ion-label  small="large">Images *</ion-label>
        <ion-buttons>
          <ion-button (click)="addPictures()" color="tertiary">
            <ion-icon name="add-outline"></ion-icon>
            Add
          </ion-button>
          <ion-button  id="change">
           <ion-icon  name="refresh-outline"></ion-icon>
           Change
         </ion-button>
         <ion-button>
           <ion-icon name="trash-outline"></ion-icon>
           remove
         </ion-button>
         
         </ion-buttons>
      </ion-item>
    
      
    </ion-item-group>

    <div>
  
      <ion-slides >
          
        <ion-slide *ngIf="newProduct.models.length == 0">
         
            <ion-card (click)="addPictures()" style="width: 150px; height: 150px; overflow: hidden;">
              <ion-icon size="large" name="images-outline"></ion-icon>
              <h1>No Picture</h1>
            </ion-card>
         
        </ion-slide>
          <ion-slide *ngFor="let model of newProduct.models" >
            <ion-item-group>
              <ion-card  style="max-width: 150px; max-height: 150px; overflow: hidden;"  color="medium" >
                <ion-grid>
                  <ion-row>
                    <ion-col size="6" *ngFor="let picture of model.pictures">
                        <ion-img [src]="picture" ></ion-img>
                    </ion-col>
              </ion-row>
                </ion-grid>
              </ion-card>
              <ion-chip *ngIf="!product">
                <input  [(ngModel)]="model.id" type="color"/>
              </ion-chip>
            </ion-item-group>
               </ion-slide>
      </ion-slides>
    </div>

    <ion-item *ngIf="!product">
      <ion-label>Set Size </ion-label>
      <ion-buttons slot="end">
        <ion-radio-group  value="romain" (ionChange)="onSizeChange($event)">
         <ion-chip>Romain<ion-radio value="romain"></ion-radio></ion-chip> 
         <ion-chip>Other<ion-radio value="other"></ion-radio></ion-chip> 
        </ion-radio-group>
        
      </ion-buttons>
    </ion-item>

    <ion-item-group *ngIf="!product">
      <ion-item id="nonConventional" style="display :none">
        <ion-input [readonly]="readonly" [(ngModel)]="nonConventional" placeholder="add size separate with comma. ex: 256GB,500GB"></ion-input>
        <ion-button *ngIf="!readonly" (click)="addSizes()" color="tertiary">
          <ion-icon name="add-outline"></ion-icon>
          Add
        </ion-button>
        <ion-button  *ngIf="readonly" (click)="resetSizes()" color="warning">
          <ion-icon name="refresh-outline"></ion-icon>
          Reset
        </ion-button>
      </ion-item>
      <ion-slides id="conventional">
        <ion-slide>
          <ion-button [id]="size" (click)="selectSize(size)" name="inactive"  *ngFor="let size of sizes" color="light">{{size}}</ion-button>
      </ion-slide>
      </ion-slides>
      
      
    </ion-item-group >  
    
    <ion-item *ngIf="!product">
      <ion-item-group>
       <ion-buttons style="border-bottom: 2px solid rgb(235, 243, 243);" expand="block">
          <ion-button shape="round" *ngIf="!isfeatures" size="icon-only"  color="dark" (click)="savefeature(oneSetting)">
          <ion-icon name="add" ></ion-icon>Add Features</ion-button>

          <ion-button shape="round" *ngIf="isfeatures"  size="icon-only"  color="dark" (click)="resetfeature()">
            <ion-icon name="refresh" ></ion-icon>Reset Features</ion-button>
       </ion-buttons>
     
          </ion-item-group>
         
    </ion-item>


    <ion-item-divider color="tertiary">
      <ion-label small="large">Caracteristic and prices **</ion-label>
    </ion-item-divider>
    
      <ion-row>
        <ion-col  size="2"><b>Color</b></ion-col>
        <ion-col size="2"><b>Size</b></ion-col>
        <ion-col size="2"><b>Qty</b></ion-col>
        <ion-col size="3"><b>Price</b></ion-col>
        <ion-col size="3"><b>Av</b></ion-col>
      </ion-row>
      <ion-item *ngIf="newProduct.caracteristic.length ==0">
        <ion-label color="danger">Please add features for having caracteristic values</ion-label>
      </ion-item>
  
      <ion-list>
        <ion-row  *ngFor="let caractere of newProduct.caracteristic">
          <ion-col size="2"><div class="dot" [style.background]="caractere.color"></div></ion-col>
          <ion-col size="2">{{caractere.size}}</ion-col>
          <ion-col size="2"><input [(ngModel)]="caractere.qty" type="number" [value]="caractere.qty"/></ion-col>
          <ion-col size="3"><input [(ngModel)]="caractere.price" type="number" [value]="caractere.price"/></ion-col>
          <ion-col size="3">
            <button>
              <ion-select [(ngModel)]="caractere.availability">
                <ion-select-option [value]="av" *ngFor="let av of availibility">{{av}}</ion-select-option>
              </ion-select>
            </button>
          </ion-col>
        </ion-row>
      </ion-list>
    
    
   
  
    <ion-item-divider color="tertiary">
      <ion-label small="large"> About this product</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-textarea style="width:100%;height:150px" [(ngModel)]="newProduct.about"placeholder="Write a large description about the product">
      
      </ion-textarea>
    </ion-item>
  
    <ion-item-divider color="tertiary">
      <ion-label small="large">Fees and policies *</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-item-group>
        <ion-chip name="Inactive">
          <ion-label>Shipping Fee : </ion-label>
          <ion-input inputmode="number" [(ngModel)]="newProduct.shippingFee"></ion-input>
        </ion-chip>
        <ion-chip name="Inactive">
          <ion-label>Delivery Fee : </ion-label>
          <ion-input inputmode="number"  [(ngModel)]="newProduct.deliveryFee"></ion-input>
        </ion-chip>
        <ion-chip name="Inactive">
          <ion-label>Tax Fee : </ion-label>
          <ion-input inputmode="number"  [(ngModel)]="newProduct.taxFee"></ion-input>
        </ion-chip>
        <ion-chip name="Inactive">
         <ion-checkbox [(ngModel)]="newProduct.policy"></ion-checkbox>
         Free return
        </ion-chip>
      </ion-item-group>
      </ion-item>
  
      <ion-item-divider color="tertiary">
        <ion-label small="large">Display and Availability **</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Position</ion-label>
        <ion-select [(ngModel)]="display.position">
          <ion-select-option value="none">None</ion-select-option>
          <ion-select-option [value]="p.panelId"  *ngFor="let p of position | async">{{p.panelName}}</ion-select-option>
        </ion-select>
       </ion-item>
      <ion-item>
        <ion-label>
          Determine whether it's in hidden state or not.
        </ion-label>
          <ion-chip for="check"> 
            <ion-checkbox name="check" [(ngModel)]="display.setactive" checked="true"></ion-checkbox>
             Set Active
            </ion-chip>
        </ion-item>
        
        <div>
          <ion-button id="btnCreate" color="warning" *ngIf="!product" (click)="btnCreateProduct(newProduct, display)" expand="block">Add This Product</ion-button>
          <ion-button color="warning" *ngIf="product" (click)="btnEditProduct(newProduct)" expand="block">Edit This Product</ion-button>
          <ng-container aria-readonly="true" *ngIf="progressNum | async as percentage">
            <h5>{{uploadStatus}}</h5>
            <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
            <h6>Progress: {{ percentage | number }}%</h6>
          </ng-container>
        
        </div>


          </section>
 
 
  
    </ion-content>