  ion-label{
    font-size:13px;
    color: #c8c8c8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  ion-footer{
    ion-item{
      ion-label{
        font-size:13px;
        color: #c8c8c8;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
      }
    }
  }
  .forgot{
      float: right;
  }
  .forgot ion-label{
      font-size: 14px;
      color: #c8c8c8;
      margin-top: 10px;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }

  #signup{
      width: 100%;
      text-align: center;
      margin-top: 50px;
      }
      .my-custom-class {
        --background: #222;
        --spinner-color: #fff;
      
        color: #fff;
      }