<ion-header>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  class="width" mode=ios >
      <ion-text size="LARGE" color="warning">
        K</ion-text>
        <ion-text color="danger"><ion-icon size="LARGE" name=cart></ion-icon></ion-text>
        <ion-text >ta</ion-text><img title="app icon" class="icon" src="assets/icon/lipstick.png"/><ion-text>og</ion-text>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="container">
   
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label position="floating">Email or number phone</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.mail" ></ion-input>
    </ion-item>
 

 
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>
 

  <section>
    <ion-button expand="block" (click)="login(dataUser)">Connexion</ion-button>
    <div class="forgot">
    <ion-text>
      <ion-label>Password forgot?</ion-label>
    </ion-text>
  </div>
  </section>
 
      <div id="signup">
        <ion-label  color="primary" (click)="toSignUp()">I don't have account, signup for free</ion-label>
    </div>

</div>

</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar color="dark">
        <ion-tab-button routerLink="/home"  routerDirection="forward">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/cart"  routerDirection="forward">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/account"  routerDirection="forward">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/order"  routerDirection="forward">
          <ion-icon name="cube-outline"></ion-icon>
          <ion-label>Order</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
  
</ion-footer>