<ion-header>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  class="width" mode=ios >
      <ion-text size="LARGE" color="warning">
        K</ion-text>
        <ion-text color="danger"><ion-icon size="LARGE" name=cart></ion-icon></ion-text>
        <ion-text >ta</ion-text><img title="app icon" class="icon" src="assets/icon/lipstick.png"/><ion-text>og</ion-text>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="container">
    <ion-img id="img" src="assets/images/oldlock.jpg"></ion-img>
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label position="floating">Email or number phone</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.mail" ></ion-input>
    </ion-item>
 

 
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>
 

  <section>
    <ion-button expand="block" (click)="login(dataUser)">Connexion</ion-button>
    <div class="forgot">
    <ion-text>
      <ion-label>Password forgot?</ion-label>
    </ion-text>
  </div>
  </section>
 
      <div id="signup">
        <ion-label  color="primary" (click)="toSignUp()">I don't have account, signup for free</ion-label>
    </div>

</div>

</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home"  routerDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div class="touch">
        <h4>Home</h4>
       </div>  
    </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div class="touch">
          <h4>Cart</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil"  routerDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div class="touch">
          <h4>Profil</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div class="touch">
          <h4>Order...</h4>
         </div> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>