<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar id="searchbar" debounce="500" mode=ios
      style="color: black !important; width: 80vw; margin: 0 auto; margin-top:5%;" align-center placeholder="search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button expand="block" (click)="openModal()">Add a new address</ion-button>
  </section>
  <ion-list>
    <ion-radio-group *ngFor="let address of addresses">
      <ion-card>
        <ion-item>
          <ion-button fill="clear" (click)="setAsDefault(address.id)" slot="start" shape="round"><input title="set as default" [checked]="address.default" name="default" type="radio"/></ion-button>
          <ion-label>
            <address>
              <h6>{{address.name}}</h6>
              <p>{{address.phone}}</p>
              <h6>{{address.zipcode}}-{{address.state}}</h6>
              <h6>{{address.city}}</h6>
              <h6>{{address.address1}}</h6>
              <h6>{{address.address2}}</h6>
            </address>
          </ion-label>
          <ion-icon (click)="remove(address)" name="delete"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-radio-group>
    
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home" routerDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div class="touch">
          <h4>Home</h4>
        </div>
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart" routerDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div class="touch">
          <h4>Cart</h4>
        </div>
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil" routerDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div class="touch">
          <h4>Profil</h4>
        </div>
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order" routerDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div class="touch">
          <h4>Order...</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>