<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>Message Box</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-label position="fixed">Filter</ion-label>
      <ion-select placeholder="filter by category">
        <ion-select-option>Order Update</ion-select-option>
        <ion-select-option>Customer Services</ion-select-option>
        <ion-select-option>Promotion</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="container">
    <ion-list>
      <ion-card *ngFor="let m of msg">
        <ion-card-content>
          <ion-item slot="none">
            <ion-label >
              <h4>{{m.author}}</h4>
              <p>{{m.object}}</p>
            </ion-label>
            <ion-badge color="danger" slot="end">unread</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
        
  
    </ion-list>
  </div>
  

</ion-content>
