<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PAYMENT METHODS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="ion-padding">STAR CARD</ion-card-title>
    <ion-card-subtitle class="ion-padding">Register to STAR CARD and benefits 10% off</ion-card-subtitle>
    <ion-button size="small" routerLink="/starcard" routerDirection="forward" class="btn-register" expand="block" >Register</ion-button>
    <ion-card-header>STAR CARD is an original KATALOG payment method which is secure and help you to pay easily</ion-card-header>
    </ion-card>
    <div class="container">
      <ion-list>
        <ion-item-group *ngFor="let method of paymentMethod">
          <ion-item>
            <ion-col>{{method.method}}</ion-col>
            <ion-col *ngIf="method.method=='PayPal'">{{method.credential.email}}</ion-col>
            <ion-col *ngIf="method.method=='MonCash'">{{method.credential.phone}}</ion-col>
            <ion-col *ngIf="method.method=='MasterCard'">XXXX XXXX {{method.credential.options.substring(0,5)}}</ion-col>
            <ion-checkbox slot="end" disabled="true" *ngIf="method.default" checked="true"></ion-checkbox>
                   
            </ion-item>
          <ion-item>
            <ion-col *ngIf="method.method=='PayPal'"><ion-icon name="logo-paypal"></ion-icon></ion-col>
            <ion-label color="tertiary" (click)="setDefault(method)" *ngIf="!method.default" slot="end">Set Default</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>
<ion-list>
  
  <ion-item (click)="expandableClick(0)">
    <ion-icon slot="end" name="cash-outline" *ngIf="!expandable"></ion-icon>
    <ion-icon slot="end" name="chevron-down" *ngIf="expandable"></ion-icon>
    <ion-label>MonCash</ion-label>
  
  </ion-item>
  <ion-item-sliding *ngIf="expandable==true">
    <ion-slides>
      <ion-slide>
        <ion-chip>1</ion-chip>
    <ion-item >
      <ion-label position="stacked">Owner Name</ion-label>
      <ion-input  inputmode="text" [(ngModel)]="moncash.owner" placeholder="Account owner name..."></ion-input>
      <ion-label position="stacked">Number Phone</ion-label>
      <ion-input inputmode="tel" [(ngModel)]="moncash.phone" placeholder="MonCash Phone Number..."></ion-input>
      
    </ion-item>
  
    <ion-thumbnail >
      <ion-img src="../../assets/icon/arrow-left.gif"  *ngIf="expandable"></ion-img>
    </ion-thumbnail>
    
  </ion-slide>
  
    <ion-slide>
      <ion-chip>2</ion-chip>
    <ion-item>
      <ion-label position="stacked">Secret Code</ion-label>
      <ion-input inputmode="Number" [(ngModel)]="moncash.secret" placeholder="Code Number"></ion-input>
    </ion-item>
    <ion-button class="btn-register" (click)="paymentmethod(moncash,'MonCash')" color="success" expand="block">Validate</ion-button>
  </ion-slide>

  </ion-slides>
  
  </ion-item-sliding>

  <ion-item (click)="expandableClick(1)">
    <ion-icon slot="end" name="chevron-down"  *ngIf="expandable1"></ion-icon>
    <ion-icon slot="end" name="logo-paypal" *ngIf="!expandable1"></ion-icon>
    <ion-label>Paypal</ion-label>
  </ion-item>
  <ion-item-sliding *ngIf="expandable1">
    <ion-slides>
      <ion-slide>
        <ion-badge><ion-icon name="mail"></ion-icon></ion-badge>
    <ion-item>
      <ion-label position="stacked">E-mail address</ion-label>
      <ion-input inputmode="mail" [(ngModel)]="paypal.email" placeholder="Account E-mail address"></ion-input>
    </ion-item></ion-slide>
      </ion-slides>
      <ion-item>
      <ion-button class="btn-register" (click)="paymentmethod(paypal,'PayPal')"color="success" expand="block">Validate</ion-button>
    </ion-item>
  </ion-item-sliding>
  <ion-item>
    <ion-label (click)="expandableClick(2)">Add a credit or debit card</ion-label>
    <ion-icon slot="end" name="chevron-down" *ngIf="expandable2"></ion-icon>
      <ion-button (click)="expandableClick(2)" *ngIf="!expandable2" class="btn-register" slot="end">Add Card</ion-button>
  </ion-item>
  <ion-item-sliding *ngIf="expandable2">
    <ion-slides>
      <ion-slide>
        <ion-chip>1</ion-chip>
    <ion-item>
      
      <ion-label position="stacked">Card Holder*</ion-label>
      <ion-input inputmode="text" placeholder="Name on the card"></ion-input>
      <ion-label position="stacked">Card Number*</ion-label>
      <ion-input inputmode="text" placeholder="Debit/Credit card number"></ion-input>
     <!-- <ion-icon slot="end" name="card"></ion-icon>-->
    </ion-item>
    <ion-thumbnail >
      <ion-img src="../../assets/icon/arrow-left.gif"  *ngIf="expandable2"></ion-img>
    </ion-thumbnail>
   
  </ion-slide>
    <ion-slide>
      <ion-chip>2</ion-chip>
  <ion-item>
    
    <ion-label position="stacked">Expiration*</ion-label>
    <ion-input inputmode="date" placeholder="Expiration date"></ion-input>
    <ion-label position="stacked">CVV*</ion-label>
    <ion-input inputmode="number" placeholder="Your CVV"></ion-input>
   
  </ion-item>
  <ion-button class="btn-register" color="success" expand="block">Validate</ion-button>
</ion-slide>

  </ion-slides>
  </ion-item-sliding>
  
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home"  routerDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div class="touch">
        <h4>Home</h4>
       </div>  
    </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div class="touch">
          <h4>Cart</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil"  routerDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div class="touch">
          <h4>Profil</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order"  routerDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div class="touch">
          <h4>Order...</h4>
         </div> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

