
ion-content{
  --background: #f1f3f4;
  
}



.btn-circle.btn-lg {
  width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
}
.timing{
  position: absolute;
    top: 20%;
    left: 67%;
}


/* #head ion-slides .imgslide {
  margin:0;
  padding:0;
  display: block;
  width: 40%;
} */

.content-box{
  position: absolute;
  top: 350px;
  z-index: 1;
  padding-bottom: 80px;
  h6{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

}
@media (max-width: 668px) {
  .content-box {
    top: 280px;
  }
  .content-box ion-img{
    padding: 15%;
  }
  
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  
}
div.scrollmenu::-webkit-scrollbar{
  display: none;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
  
} 
