<app-page-header></app-page-header>

<ion-content>
  <div class="container p-4">
    <h3>{{welcomeWord}}</h3>
    <div class="row g-4 mt-2">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="border rounded p-3">
            <ion-item button routerLink="/order" routerDirection="forward" lines="none" class="ion-text-wrap" slot="none" >
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/box_order.jpeg"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Your Orders</b></h5>
                  <p class="text-muted">See your past orders, track and <br>return</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12" >
          <div class="border  rounded p-3" (click)="navigateTo('Recent Views','navigation_directive')" >
            <ion-item button lines="none" class="ion-text-wrap" slot="none" >
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/historic.jpeg"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Browsing Historic</b></h5>
                  <p class="text-muted">Items you have seen, you might<br> want to buy</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <div class="border rounded p-3" (click)="navigateTo('Wish List','navigation_directive')">
            <ion-item  button lines="none" class="ion-text-wrap" slot="none" >
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/list.png"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Favorites List</b></h5>
                  <p class="text-muted">Wish List, item you like and you put <br> in favorite</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <div class="border rounded p-3"  >
            <ion-item routerLink="/helpcenter" routerDirection="forward" button lines="none" class="ion-text-wrap" slot="none" >
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/customer_service.png"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Customer Service</b></h5>
                  <p class="text-muted">Help, customer support, trouble<br>report</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <div class="border rounded p-3" >
            <ion-item button lines="none" class="ion-text-wrap" slot="none" routerLink="/login" routerDirection="forward" >
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/icon-password.jpeg"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Login & Password</b></h5>
                  <p class="text-muted">Sign in, sign out, update your <br>current password</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <div class="border rounded p-3">
            <ion-item button lines="none" class="ion-text-wrap" slot="none"  routerLink="/policy" routerDirection="forward">
              <ion-avatar slot="start" class="border">
                  <img src="../../assets/privacy.png"/>
              </ion-avatar>
              <ion-label>
                <ion-item-group>
                  <h5><b>Policy & Terms</b></h5>
                  <p class="text-muted">return and conflict policies, terms<br> and conditions buyers</p>
                </ion-item-group>
              </ion-label>
            </ion-item>
          </div>
        </div>
    </div>
  </div>
 
    

  
</ion-content>
