<ion-header mode=ios>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
  
  <div class="container-fluid p-4 overflow-hidden">
    <div class="row g-4">
      <div class="col-lg-8">
        <div class="border bg-white p-3">
           
            <div class="border p-2 rounded">
              <h6>Shipping Address</h6>
              <p>Renald Occean 32977921 <br> London crest 16 Ave bwm apt46 <br> Fort-lauderdale - 33298 <br> United States</p>
            </div>
            <div class="border p-2 rounded">
              <h6>Shipment Status</h6>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-buttons>
                      <ion-item-group>
                        <ion-avatar><ion-img src="../../assets/box_order.jpeg"></ion-img></ion-avatar>
                        <small>Packaging</small>
                      </ion-item-group>
                      <ion-progress-bar></ion-progress-bar>
                    </ion-buttons>
                  </ion-col>
                  <ion-col>
                    <ion-buttons>
                      <ion-item-group>
                        <ion-avatar><ion-img src="../../assets/shipping.png"></ion-img></ion-avatar>
                        <small>Shipped</small>
                      </ion-item-group>
                      <ion-progress-bar></ion-progress-bar>
                    </ion-buttons>
                  </ion-col>
                  <ion-col>
                    <ion-buttons>
                      <ion-item-group>
                        <ion-avatar><ion-img src="../../assets/delivery.jpeg"></ion-img></ion-avatar>
                        <small>Delivered</small>
                      </ion-item-group>
                      <ion-progress-bar></ion-progress-bar>
                    </ion-buttons>
                  </ion-col>
                  <ion-col>
                    <ion-buttons>
                      <ion-item-group>
                        <ion-avatar class="rounded"><ion-icon size="large" color="success" name="checkmark-done-circle-outline"></ion-icon></ion-avatar>
                        <small>Completed</small>
                      </ion-item-group>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <ion-buttons>
              <ion-button>Tracking historic</ion-button>
              <ion-button color="danger">Cancel order </ion-button>
              <ion-button color="warning">Ask for refunds </ion-button>
            </ion-buttons>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="border bg-white p-3">
          
          <div class="border p-2 rounded">
            <h6>Payment Method</h6>
            <ion-row lines="none">
              <ion-thumbnail>
                <ion-img src="../../assets/icon/Google-Pay-Logo.png" style="width: 40px; height: 40px;"></ion-img>
              </ion-thumbnail>
              <ion-label >Google Pay</ion-label>
            </ion-row>
            
          </div>
          <div class="border p-2 rounded">
            <h6>Order Info</h6>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#Order : 890966448</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Date order</th>
                  <td>26 mars 2020</td>
                </tr>
                <tr>
                  <th scope="row"># items of order</th>
                  <td>4</td>
                </tr>
                <tr>
                  <th scope="row">Shipping & Handling</th>
                  <td>9$</td>
                </tr>
                <tr>
                  <th scope="row">Total cost</th>
                  <td>12244$</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>


  


</ion-content>

