<ion-header>
  <ion-toolbar>
    <ion-title> Add Address </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="modalDismiss()" color="primary">Close</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

     <ion-item-group >
      <ion-item-divider>
        <ion-icon name="person"></ion-icon>
        <ion-label>Identification</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Your name <span>*</span></ion-label>
        <ion-input inputmode="text" [(ngModel)]="addressmodel.name"  placeholder="Ex : Smith Anderson"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-icon name="location"></ion-icon>
        <ion-label>Location</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Address Line 1<span>*</span></ion-label>
        <ion-input [(ngModel)]="addressmodel.address1" placeholder="Street, Apt, Building number..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address Line 2</ion-label>
        <ion-input [(ngModel)]="addressmodel.address2" placeholder="Optional"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City<span>*</span></ion-label>
        <ion-input [(ngModel)]="addressmodel.city"  placeholder="add a city name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">State<span>*</span></ion-label>
        <ion-input [(ngModel)]="addressmodel.state" placeholder="if you not in US add country name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Phone Number<span>*</span></ion-label>
        <input type="tel" [(ngModel)]="addressmodel.phone"  placeholder="your phone number (digits).." />
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Zip Code<span>*</span></ion-label>
        <input type="number" [(ngModel)]="addressmodel.zipcode" minlength="5" maxlength="5" placeholder="digits only..."/>
      </ion-item>
    </ion-item-group>
    
    <section>
      <ion-button (click)="saveAddress(addressmodel)">Add this address</ion-button>
    </section>
  

</ion-content>
