<ion-header mode=ios>
  <ion-toolbar>
    <ion-buttons style="margin-top:5%;" slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>Management <ion-icon name="settings"></ion-icon></ion-title>
  </ion-toolbar>
 </ion-header>
 

<ion-content>
  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Product</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Customers</ion-label>
      </ion-segment-button>
      <ion-segment-button  value="weight">
        <ion-label>App Interface</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr>
  </div>
  <div class="filter">
    <ion-searchbar *ngIf="isSelected=='product'" id="searchbar" debounce="500" mode=ios style="color: black !important; width: 100vw; margin: 0 auto;" align-center placeholder="search for a product...">
    </ion-searchbar>
    <ion-searchbar *ngIf="isSelected=='customers'" id="searchbar" debounce="500" mode=ios style="color: black !important; width: 100vw; margin: 0 auto;" align-center placeholder="search for a customers...">
    </ion-searchbar>

    <ion-item *ngIf="isSelected=='product'">
      <ion-label>Filter By :</ion-label>
      <ion-chip>Category <ion-icon name="chevron-down"></ion-icon></ion-chip>
      <ion-chip >Price <ion-icon name="chevron-down"></ion-icon></ion-chip>
    </ion-item>
    <ion-item  *ngIf="isSelected=='customers'">
      <ion-label>Filter By :</ion-label>
      <ion-chip>Boughts <ion-icon name="chevron-down"></ion-icon></ion-chip>
      <ion-chip >Likes<ion-icon name="chevron-down"></ion-icon></ion-chip>
    </ion-item>
    
  </div>

  <div class="variation-selector">
  
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div>
        <ion-button size="small" (click)="openModal()" >Add a new Product</ion-button>
      </div>
      
      <ion-list>
        <ion-item-sliding style="display: block;" *ngFor="let item of items">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="assets/images/balmain.jpg" alt="product image"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h6>{{item.name}}</h6>
              <p>{{item.description}}</p>
              <ion-buttons>
                <p>{{item.price}}<ion-icon name="pricetag"></ion-icon></p>
                <ion-button>Qty vendus</ion-button>
              </ion-buttons>
             
            </ion-label>
            
          </ion-item>
          <ion-item-options>
            <ion-item-option>
              <ion-icon slot="top" name="cart" ></ion-icon>
              Edit
            </ion-item-option>
            <ion-item-option color="warning">
              <ion-icon slot="top" name="eye"></ion-icon>
              Hide
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-icon slot="top" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      
      
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
     <ion-list>
      <ion-item-sliding style="display: block;">
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="person-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h6>Jhon Smith</h6>
            <p><ion-label>
              <ion-icon name="cellular"></ion-icon>
              +1 567 789 78 67
            </ion-label></p>
            <p><ion-label>
              <ion-icon name="mail"></ion-icon>
              e-mail.customer@katalog.com
            </ion-label></p>
            <ion-buttons>
              <ion-chip color="success">370<ion-icon  name="pricetag"></ion-icon></ion-chip>
              <ion-chip>170<ion-icon color="danger" name="heart"></ion-icon></ion-chip>
              <ion-chip color="warning">70<ion-icon name="eye"></ion-icon></ion-chip>
            </ion-buttons>
           
          </ion-label>
          
        </ion-item>
        <ion-item-options>
          <ion-item-option>
            <ion-icon slot="top" name="mail" ></ion-icon>
            Mail
          </ion-item-option>
          <ion-item-option color="warning">
            <ion-icon slot="top" name="pause"></ion-icon>
            stop
          </ion-item-option>
         
        </ion-item-options>
      </ion-item-sliding>
     </ion-list>
    </div>

    <div class="weights" [class.active-variation]="activeVariation == 'weight'">
     <div>
      <ion-button color="tertiary" size="small">
        Learn with kindness
      </ion-button>
     </div>

     <ion-item-divider>Home Page</ion-item-divider>
     
      
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar class="footer">
    <ion-row round>
      <ion-col offset-1 col-10 routerLink="/home" routeDirection="forward">
        <ion-icon class="footerIcon" name="home-outline"></ion-icon>
        <div id="touch">
        <h4>Home</h4>
       </div>  
    </ion-col>
      <ion-col offset-1 col-10 routerLink="/cart" routeDirection="forward">
        <ion-icon class="footerIcon" name="cart-outline"></ion-icon>
        <div id="touch">
          <h4>Cart</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/profil" routeDirection="forward">
        <ion-icon class="footerIcon" name="person-outline"></ion-icon>
        <div id="touch">
          <h4>Profil</h4>
         </div> 
      </ion-col>
      <ion-col offset-1 col-10 routerLink="/order" routeDirection="forward">
        <ion-icon class="footerIcon" name="cube-outline"></ion-icon>
        <div id="touch">
          <h4>Order...</h4>
         </div> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>